
/* NOTE: (QUESTION TO ASK AFTER COMPLETION) Once all elements are styled and positioned, 
I would like to ask the question to the discord server and maybe do some research on 
how to make elements disappear when window resizes*/

/* NOTE: (QUESTION TO ASK BEFORE COMPLETION)I noticed on stack overflow someone asked 
about resizing text when the window resizes. However, they suggest using viewport 
width/height (vw, vh), rather than pixels for font sizes. The suggested font sizes are 
in pixels, and vw and vh seem to scale the fonts differently. Is this something I should 
concern myself for this project? The reason I ask about this is that I don't like the way 
the text collapses when I shrink the window size*/

/* NOTE: Need to commit change to html (button 2 -> button 1. Also, I added div containers
for section 2 subsection 2*/

html,
body {
    margin: 0; /* Allows for the whole window to be taken up by boxes*/
    min-height: 100vh; /* Allows for webpage to take up entire window in the vertical direction*/
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 200px 50px; /* Important padding for defining the vertical limits of the web page*/
    flex: auto;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
 }

a {
    color: #e5e7eb;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column; /* allows for the flex items to take up all remaining*/
    flex: 1;                /* white space and push the footer to the bottom.*/
}                           /* Flex direction of the body being horizontal also contributes to this*/

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 30px; /* To be changed*/
    padding: 0 200px 50px; /* Important padding for defining the vertical limits of the web page*/
}

.section-1 .subsection-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.section-1 .subsection-1 h1,
.section-1 .subsection-1 div {
    font-family: sans-serif;
    color: #f9faf8;
}

.section-1 .subsection-1 h1{
    font-size: 48px;
    font: 800;
    margin: 0;
}

.section-1 .subsection-1 div {
    font-size: 18px;
}

.button-1 {
    background-color: #3882f6;
    color: #f9faf8;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 4px;
    font-size: 16px;
    font: 800;
    height: 35px;
    min-height: 35px;
    width: 90px;
    min-width: 90px;    
}

.section-1 .subsection-2 {
    display: flex;
    justify-content: center;
    
}

.image-placeholder {
    padding: 75px 150px;
    background-color: grey;
    width: max-content;
    display: flex;
    align-items: center;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 101.5px;
    gap: 30px;
}

.section-2 .subsection-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container div {
    text-align: center;
    font-family: sans-serif; /* Same font-family and font size as the description*/
    font-size: 18px;         /* in subsection-1*/ 
    max-width: 136px;  
}

.section-2 h2 {
    font-family: #1f2937;
    font-size: 36px;
    margin: 0;
}

.card {
    background-color: white;
    width: 130px;
    height: 130px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 101.5px 285px;
}

.quote {
    text-align: left;
    max-width: 700px;
    min-width: 700px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    font-family: sans-serif;
}

.quotee {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 24px;
    margin-left: 350px; /* 170px*/
    min-width: 260px;
}

/*NOTE: Finished styling section 3 of the content. I need to decide how I want 
elements to collapse when window shrinks. I gave the text of this section a max width,
but earlier sections do not have this. Should I wrap? Also button 1 should have a max width
of not a percentage I believe.*/

/* Added a couple of div container to section-4*/

/* Changed a div element under the call-to-action-container to a header element for specificity
in the css.*/

/* Changed the width of the button to a min width of 90px rather than vw or % */

.section-4 {
    display: flex;
    justify-content: center;
}

.card-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #3882f6;
    margin: 100px;
    padding: 50px;
    width: 689px;
}

.call-to-action-container {
    color: white;
    font-family: sans-serif;
}

.call-to-action-container header {
    font-size: 24px;
}

.button-2 {
    height: 35px;
    background-color: #3882f6;
    color: white;
    border: 3px solid white;
    border-radius: 4px;
    width: 90px;
    min-width: 90px;
}