html,
body {
    display: flex;
    flex-direction: column;
    margin: 0; /* Allows for the whole window to be taken up by boxes*/
    min-height: 100vh; /* Allows for webpage to take up entire window in the vertical direction*/
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center; /*Key to keeping it center as the window gets smaller*/
    position: sticky;
    top: 0;
    z-index: 999;
    flex-wrap: wrap; 
    padding: 25px 200px 0; /* Important padding for defining the vertical limits of the web page content*/ 
    background-color: black;                 
}

.header-logo {
    display: flex;
    flex: 0; /* Short-hand for 0 1 0. It does not matter what flex shrink is in this case*/
}

.logo img{
    padding-bottom: 10px;
    width: 200px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1; /* Shorthand for 1 1 0 */
    gap: 20px;
    margin: 0;
    padding: 0 0 10px;
    font-size: 18px;
    list-style: none;
    text-align: center; /* Added to center links when window shrinks*/
 }

a {
    color: white;
    text-decoration: none;
}

.link-1{
    min-width: 48.02px;
}

.link-2{
    min-width: 123.07px;
}

.link-3{
    min-width: 86.05px;
}

.content {
    display: flex;
    flex-direction: column; /* allows for the flex items to take up all remaining*/
    flex: 1;                /* white space and push the footer to the bottom.*/
}                           /* Flex direction of the body being horizontal also contributes to this*/

.section-1 {
    display: flex;
    justify-content: center; /* Key to keeping it center as the window gets smaller*/
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 200px 50px;
    background-image: url(./images/orange-background.jpeg);
    background-size: cover; /* Resize the background image to cover the entire container*/
}

.container {
    display: flex;
    flex: 1; /* Short-hand for 1 1 0*/
    /* Allows element to have same starting point when both elements' flex basis are set to 0*/
    justify-content: center;
    min-width: 300px;
    min-height: 200px;
}

.section-1 .subsection-1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.section-1 .subsection-1 h1,
.section-1 .subsection-1 button {
    color: #f9faf8;
}

.section-1 .subsection-1 h1{
    margin: 0;
    max-width: 500px;
    font-size: 48px;
    font: 800;
}

.section-1 .subsection-1 div {
    max-width: 500px;
    font-size: 18px;
    color: white;
}

.button-1 {
    height: 35px;
    min-height: 35px;
    width: 90px;
    min-width: 90px; 
    background-color: #3882f6;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 4px;
    font-size: 16px;
    font: 800;
}

.section-1 .subsection-2 {
    align-items: center;
}

.section-1 img { /* Allows for shrinking of image*/
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 101.5px; /* Added padding and flex wrap to have images wrap when window shrinks*/
    gap: 30px;
}

.section-2 #some-locations { /* Creates offset for the "some-locations" jump link*/
    display: block;
    position: relative;
    top: -135px;
    visibility: hidden;
}

.section-2 h2 {
    margin: 0;
    font-family: #1f2937;
    font-size: 36px;
}

.section-2 .subsection-2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* Added padding and flex wrap to have images wrap when window shrinks*/
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container div {
    max-width: 136px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.card {
    background-color: white;
    width: 130px;
    height: 130px;
    border: 3px solid #cc5500;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section-2 img{
    width: 130px;
    height: 130px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/grey-landscape.jpeg);
    background-size: cover; /* Resize the background image to cover the entire container*/
    background-attachment: fixed;
    padding: 101.5px 24%; /* NOTE: changed the right and left padding to a percentage*/
                          /* so that when the window is completely horizontally minimized,*/  
                          /* the quotee is directly under the quote and inline. This will*/
                          /* change however when the quotee changes. */
}

.quote {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;  
}

.quotee {   
    font-weight: bolder;
    font-size: 24px;
    margin-left: auto; /* This is what will keep the quotee aligned with the quote*/  
}

.section-4 {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.card-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px 0;
    flex-wrap: wrap;
    background-image: url(./images/orange-background.jpeg);
    background-size: cover; /* Resize the background image to cover the entire container*/
    padding: 50px 150px;
    width: 738px;
}

.call-to-action-container {
    flex: 6 1 0;
    min-width: 250px;
}

.call-to-action-container header {
    font-size: 24px;
    color: white;
}

.call-to-action-container div {
    color: white;  
}

.button-container {
    flex: 1 1 0;
}

.button-2 {
    height: 35px;
    background-color: #3882f6;
    color: white;
    border: 3px solid white;
    border-radius: 4px;
    max-width: 90px;
    min-width: 90px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #e5e7eb;
    background-color: black;
    padding: 35px;
}